/* styles for my resume */

/* This is for my nav bar to help it scroll down the page */
html { 
  scroll-behavior: smooth; 
} 

/* this consists of everything on my page */
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* Nav bar text */
.navbar-brand {
  font-size: 1.8em;
}

/* Nav bar background */
.bg-light {
  background-color: #c2d5f3 !important;
  border-top: 5.5px solid black;
  border-bottom: 5.5px solid black;
}


/* Banner Image */
.splash-image {
  width: 100%;
}

/* START OF ID A (PROFILE) */
#a {
  background-color: white;
}


/* banner name i.e."Jaime Dee" */
#name {
  font-size: 3.9em;
  font-weight: 600;
  color: #a80301;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2.5px solid black;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

/* title i.e. "Entertainment Professional"*/
#title {
  text-transform: uppercase;
  font-size: 2.0em;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: .9px;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

/* Mission Statement */
.top {
  font-size: 1.0em;
  font-weight: 350;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
}

/* Contact Details */
/* This controls the whole entire list and its surrondings */
.menu {
  margin: 0;
  padding: 0px;
  text-align: center;
  margin-bottom: 40px;
}

/* This controls each list item */
.menu li {
  display: inline;
  font-size: 1.7em;
  padding-top: 20px;
  font-weight: bold;
}

/* This changes text color because I put this tag inside the <a> of the list item */
.menu-item {
  color: black;
  background-color: #c2d5f3;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: 8px;
  margin-right: 5px;
  border-top: 3.5px solid black;
  border-left: 3.5px solid black;
  border-right: 3.5px solid black;
  border-bottom: 3.5px solid black;
}

/* visited link */
.menu-item:visited {
  color: blue;
}

/* mouse over link */
.menu-item:hover {
  color: red;
}

/* selected link */
.menu-item:active {
  color: blue;
}
/* END Contact Details */
/* END OF ID A */



/* START OF ID B (EXPERIENCE)*/
#b {
  background-color: white;
}

.pictures {
  padding-left: 30px;
}

/* I added some padding to the left because it seems as though Adam did the same thing */
/* Each Section i.e. experience, set experience, education and skills */
.sectionheader {
  font-size: 2.0em;
  text-transform: uppercase;
  background-color: #c2d5f3;
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  min-width: 300px;
  padding-left: 20px;
  border-top: 5.5px solid black;
  border-bottom: 5.5px solid black;
}

/* job titles */
/* I made the job titles black because it looks like Adam did as well */
.jobtitle {
  font-weight: 725;
  font-size: 1.5em;
  color: black;
}

/* company titles */
.organization {
  font-weight: 400 bold;
  font-size: 1.2em;

}

/* dates worked */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

/* Job descriptions */
.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
}
/* END OF ID B*/



/* START OF ID C (SET EXPERIENCE)*/
#c {
  background-color: white;
}
/* It ended so fast because most of "c's" items are controlled in "b's" section. */
/* END OF ID C*/


/* START OF ID D (EDUCATION)*/
#d {
  background-color: white;
}

.degrees {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 600;
  font-size: 1.5em;
  color: black;
}

/* company titles */
.school {
  font-weight: 400;
  font-size: 1.2em;
}

/* END OF ID D*/


/* START OF ID E (SKILLS)*/
#e {
  background-color: white;

}

#do {
  margin-top: 20px;
  text-align: center;
}

#do ul {
  margin-top: 17px;
  font-size: 1.1em;
}
/* END OF ID E*/

.copyright {
  text-align: center;
}
