/* styles for my resume */

/* this consists of everything on my page */
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* Banner Image */
.splash-image {
  width: 100%;
}

/* START OF ID A */
#a {
  background-color: white;

}

/* Circle Photo */
.headshot {
  width: 400px;

}

/* banner name i.e."Jaime Dee" */
#name {
  font-size: 3em;
  font-weight: 600;
  color: #a80301;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2.5px solid black;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

/* Contact Details */
.menu {
  margin: 0;
  padding: 4px;
  text-align: center;
}

.menu li {
  display: inline;
  font-size: 1.3em;
  padding-top: 20px;
}

/* title i.e. "Entertainment Professional"*/
#title {
  text-transform: uppercase;
  font-size: 1.9em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: .9px;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

.top {
  font-size: 1.0em;
  font-weight: 350;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-bottom: 20px;
  color: black;
}
/* END OF ID A */



/* START OF ID B*/

#b {
  background-color: #f2efe1;

}

/* resume sections i.e. "Experience" */
/* I added some padding to the left because it seems as though Adam did the same thing */
.sectionheader {
  font-size: 2.5em;
  text-transform: uppercase;
  background-color: #c2d5f3;
  color: black;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  min-width: 300px;
  padding-left: 20px;
}

/* job titles */
/* I made the job titles black because it looks like Adam did as well */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: black;
}

/* company titles */
.organiztion {
  font-weight: 400;
  font-size: 1.25em;
}

/* dates worked */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
}
/* END OF ID B*/

/* START OF ID C*/
#c {
  background-color: white;
}
/* END OF ID C*/


/* START OF ID D*/
#d {
  background-color: #f2efe1;

}
/* END OF ID D*/


.degrees {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.degrees li {
  font-weight: 400;
  font-size: 1.5em;
  color: black;
  margin: 0 auto;
}

/* START OF ID E*/
#e {
  background-color: white;

}

#do {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
/* END OF ID E*/
