/* styles for my resume */

/* This is for my nav bar to help it scroll down the page */
html { 
  scroll-behavior: smooth; 
} 

/* this consists of everything on my page */
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

/* Nav bar text */
.navbar-brand {
  font-size: 1.8em;
}

.bg-light {
  background-color: #c2d5f3 !important;
  border-top: 5.5px solid black;
  border-left: 5.5px solid black;
  border-right: 5.5px solid black;
  border-bottom: 5.5px solid black;
}


/* Banner Image */
.splash-image {
  width: 100%;
}

/* START OF ID A (PROFILE) */
#a {
  background-color: white;

}

/* Circle Photo */
.headshot {
  width: 400px;

}

/* banner name i.e."Jaime Dee" */
#name {
  font-size: 3.9em;
  font-weight: 600;
  color: #a80301;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2.5px solid black;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  padding-top: 20px;
}

/* Contact Details */
.menu {
  margin: 0;
  padding: 4px;
  text-align: center;
}

.menu li {
  display: inline;
  font-size: 1.3em;
  padding-top: 20px;
}
/* END Contact Details */


/* title i.e. "Entertainment Professional"*/
#title {
  text-transform: uppercase;
  font-size: 2.0em;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: .9px;
  margin-left: 0;
  margin-right: 0;
  color: black;
}

.top {
  font-size: 1.0em;
  font-weight: 350;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  color: black;
}
/* END OF ID A */



/* START OF ID B (EXPERIENCE)*/

#b {
  background-color: #f2efe1;
}

/* I added some padding to the left because it seems as though Adam did the same thing */
.sectionheader {
  font-size: 2.0em;
  text-transform: uppercase;
  background-color: #c2d5f3;
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 100%;
  min-width: 300px;
  padding-left: 20px;
  border-top: 5.5px solid black;
  border-left: 5.5px solid black;
  border-right: 5.5px solid black;
  border-bottom: 5.5px solid black;
}

/* job titles */
/* I made the job titles black because it looks like Adam did as well */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
  color: black;
}

/* company titles */
.organiztion {
  font-weight: 400;
  font-size: 1.25em;
}

/* dates worked */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
}
/* END OF ID B*/



/* START OF ID C (SET EXPERIENCE)*/
#c {
  background-color: white;
}
/* END OF ID C*/


/* START OF ID D (EDUCATION)*/
#d {
  background-color: #f2efe1;

}

.degrees {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.degrees li {
  font-weight: 400;
  font-size: 1.5em;
  color: black;
  margin: 0 auto;
}
/* END OF ID D*/


/* START OF ID E (SKILLS)*/
#e {
  background-color: white;

}

#do {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
/* END OF ID E*/
