/* styles for my resume */

/* this consists of everything on my page */
body {
  font-family: "Open Sans", arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
}

#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px; ``
}

/* banner name i.e."Jaime Dee" */
#name {
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/* title i.e. "Entertainment Professional"*/
strong {
  text-transform: uppercase;
  font-size: 1.5em;
  color: #33485e;
}

/* resume sections i.e. "Experience" */
.sectionheader {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 0;
  margin-left: 0;
  width: 70%;
  min-width: 300px;
}

/* job titles */
.jobtitle {
  font-weight: 600;
  font-size: 1.5em;
}

/* company titles */
.organiztion {
  font-weight: 400;
  font-size: 1.25em;
}

/* dates worked */
.date {
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}

/* list items */
ul {
  font-size: 1em;
}
