/* Banner on top of the page */
.banner {
  margin: 0 auto;
}

/* this formats the page */
#content {
 margin: 0 auto;
 width: 900px;
}

/* headline */
h1 {
  font-family: helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;

}

/*photo under the banner I DID NOTHING HERE!*/
.coverphoto {

}

/*caption under the banner and photos */
.caption {
color: #9ea4ca
}

/*byline under photo */
#byline {
  fontfamily: helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
}

/* all of the text */
p {
  font-family: georgia, serif;
  font-size: 16px;
}

/* pull quote*/
.pquote {
    float: left;
    margin: auto;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    color: #030;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
    padding: 13px;
    border-left: 4px solid #ccc;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}
/* END PULL QUOTE */
