/* Banner on top of the page */
.banner {
  margin: 0 auto;
}

/* this formats the page */
#content {
 margin: 0 auto;
 width: 900px;
}

/* headline */
h1 {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: bold;
}

/*subhead under the headline */
h2 {
  font-family: sans-serif;
  font-size: 17px;
  font-style: italic;
  text-align: center;
}

/* Subheads on the page in general */
.subhead {
  font-family: sans-serif;
  font-size: 45px;
  text-align: center;
}

/* Line under subhead 2 */
.taghead{
  text-align: center;
}

/*photo under the banner I DID NOTHING HERE!*/
.coverphoto {

}

/*caption under the banner and photos */
.caption {
color: #9ea4ca
}

/*byline under photo */
#byline {
  fontfamily: helvetica, sans-serif;
  font-size: 16px;
}

/*date under byline */
#date {
  fontfamily: helvetica, sans-serif;
  font-size: 16px;
}


/* all of the text */
p {
  font-family: helvetica, arial, sans-serif;
  font-size: 17.5px;
}

/* Participants names */
.burner {
  font-size: 23.5px;
  font-style: italic;
}


/* pull quote*/
.pquote {
    float: left;
    margin: auto;
    width: 200px;
    background: url(images/openquote.gif) top left no-repeat;
    color: #0600ff;
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    padding: 13px;
}

blockquote {
    margin: 0; /* gets rid of the default blockquote margin */
    padding: 13px;
    border-left: 4px solid #ccc;
}

.pquote p:first-letter {
    font-size: 39px;
    font-weight: bold;
}
/* END PULL QUOTE */
